In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

### 3. 통계값 다루기

In [3]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [5]:
df.describe()

                키       브랜드평판지수
count   13.000000  1.500000e+01
mean   175.792308  5.655856e+06
std      5.820576  2.539068e+06
min    162.100000  2.925442e+06
25%    174.000000  3.712344e+06
50%    177.000000  4.668615e+06
75%    179.200000  7.862214e+06
max    183.000000  1.052326e+07

#### 3-1. 최댓값, 최솟값

In [6]:
df['키'].min()

162.1

In [7]:
df['키'].max()

183.0

#### 3-2. 합계, 평균

In [8]:
df['키'].sum()

2285.3

In [9]:
df['키'].mean()

175.7923076923077

#### 3-3. 분산(var, variance), 표준편차(std, standard variation)

표준편차(std)를 많이 사용하며, **데이터가 평균으로부터 얼마나 퍼져있는 지의 정도**를 나타내느 지표

In [10]:
data1 = np.array([1, 3, 5, 7, 9])

In [11]:
data1 = np.array([1, 3, 5, 7, 9])
data2 = np.array([3, 4, 5, 6, 7])

In [12]:
data1.mean()

5.0

In [13]:
data2.mean()

5.0

In [14]:
data1.var(), data2.var()

(8.0, 2.0)

In [15]:
np.sqrt(data1.var()), np.sqrt(data2.var())

(2.8284271247461903, 1.4142135623730951)

In [16]:
data1.std(), data2.std()

(2.8284271247461903, 1.4142135623730951)

#### 3-4. 데이터의 개수를 세는 count

In [17]:
df['키'].count()

13

#### 3-5. 최빈값과 중앙값

In [18]:
df['키'].mode() ## 최빈값

0    178.0
dtype: float64

In [19]:
df['키'].median() ## 중앙값

177.0